{
  "trailingComma": "none",
  "printWidth": 130,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^..(/.*)?$", "^.(/.*)?$"]
}
